body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    border: 10px double darkgreen;
}

p {
    font-weight: 300;
}

.background {
    background-color: rgb(182, 228, 102);
}

.flower-btn {
    margin: 5px;
    padding: 5px;
}

.flower-gifs {
    border: 1px solid green;
}
.form-group {
    margin: auto;
}

.flower-img {
    border-radius: 35%;
}

.heading {
    background-color: rgb(76, 119, 3);
    font-size: 35px;
}

#created-buttons {
    margin: 10px;
}

.flower-gif-deets {
    float: left;
}